.block {
	border: 1px solid #bbb;
	padding: 2.5rem 3rem;
	-webkit-font-smoothing: antialiased;
	margin: 3% 0;
	border: 1px solid #E1E1E1;
	border-radius: 4px
}

pre code {
	word-break: break-all;
}

.button-block {
	font-size: 1.3rem;
	margin-left: 1.2rem;
	padding: 0.1rem 0.7rem;
	-webkit-font-smoothing: antialiased;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	background-color: white;
}

.button-primary {
	color: #FFF;
	background-color: #33C3F0;
	border-color: #33C3F0;
}

.small {
	font-size: .8rem;
	padding: 6px 15px;
	line-height: 1.5rem;
	margin-bottom: 0;
	height: auto;
}

.small .icon {
	font-size: 1.8rem;
}

.button-block:hover {
	color: #33C3F0;
	cursor: pointer;
}

.intro h1 {
	margin-bottom: -0.4rem;
}

form .searchBar {
	width: 80%;
	margin-right: .4rem;
}

form .searchSubmit {
	width: 19%;
	text-align: center;
	padding: 0;
}

.intro ul {
	list-style: none;
}

.intro ul li a {
	text-decoration: none;
}

.intro ul li a.active {
	margin-left: -0.3rem;
}

.intro ul li a.active::before {
	content: "|";
	color: #e1e1e1;
	position: relative;
	right: 1rem;
	top: -0.1rem;

}

body {
}

div:hover > label {
	color: black;
}

div > label {
	color: #e1e1e1;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1080px;
}


#main {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 1rem;
	padding-left: 10rem;
}

#main.minimised {
	margin-left: 16rem;
}

.noBottomMargin {
	margin-top: 1rem;
	margin-bottom: 0;
}

.block i.u-pull-right {
	font-size: 1.3rem;
	margin-left: 1.2rem;
	border: 1px solid #bbb;
	padding: 0.1rem 0.7rem;
	-webkit-font-smoothing: antialiased;
	border: 1px solid #E1E1E1;
	border-radius: 4px
}

.block i.u-pull-right:hover {
	color: #33C3F0;
	cursor: pointer;
}

.loading:hover {
	border: 1px solid #bbb;
}

.loading i {
	font-size: 18px;
	-webkit-animation-name: rotate; 
	-webkit-animation-duration: 1s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate; 
	-moz-animation-duration: 1s; 
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: rotate; 
	animation-duration: 1s; 
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

input.third, button.third {
	width: 31%;
	margin-right: 13px;
}

.block form, .block input, .block button {
	margin-bottom: 0;
}

#nav {
	position: fixed;
}

#main {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#nav {
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}

#nav h4 {
	margin-top: 2rem;
	font-weight: 300;
	letter-spacing: 0.5rem;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#nav h4:hover {
	color: #1EAEDB;
}

#nav li.section {
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 2.5rem;
	letter-spacing: 0.2rem;
	color: #e1e1e1;
	font-weight: 400;
}

#nav.hidden {
	z-index: 20;
	overflow: hidden;
}

#nav.slide-left {
	top: 0;
	width: 18rem;
	height: 100%;
}	

#nav.minimised h5 {
	cursor: pointer;
}

#nav.minimised:hover {
	color: black;
}
#nav.minimised {
	padding-top: 1.5rem;
	height: 8rem;
	background: white;
	padding-left: 2rem;
	left: 0;
	z-index: 20;
	overflow: hidden;
	width: 8rem;
	color: #E1E1E1;
}

#nav.slide-left.show {
	padding-top: 1rem;
	height: 100%;
	background: white;
	border-right: 1px solid #E1E1E1;
	padding-left: 4rem;
	left: 0;
	z-index: 20;
}

#login {
	margin-top: 20%;
}

.u-text-center {
	text-align: center;
}

.error {
	margin-top: 1rem;
	padding: 0.6rem 0.8rem;
	background-color: #e74c3c;
	color: #fff;
	border-radius: 4px
}

.error .icon {
	margin-right: 0.6rem;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.6);
	padding-bottom: 5rem;
}

.modal {
	max-height: 80%;
	overflow: scroll;
	width: 85rem;
	margin: 3rem auto;
	background-color: #fff;
}

.modal form {
	margin-bottom: 1.4rem;
}

#map {
	height: 40rem;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}
